<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5 mt-5">
            <h1 class="text-center">Bem vindo ao MegaFeira</h1>
            <h2 class="text-center col-md-12 mb-5 mt-5">Aqui tem oferta de montão, confira!</h2>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
               
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magni repellendus blanditiis veritatis molestias voluptas nemo id voluptatum labore perspiciatis nobis repellat, minima beatae itaque necessitatibus maxime quo harum ad!
                Nemo ab assumenda aperiam dolorem, vero nobis provident libero eaque aut quibusdam, optio officia. Similique, nostrum nobis aperiam quas fugit earum, est, et sed rem illum quia ullam. Non, necessitatibus!
                Nam incidunt corrupti, repudiandae minima optio soluta dolorem. Sequi doloremque possimus, quaerat consequatur earum deserunt assumenda corporis id quo maiores voluptas necessitatibus ex, autem quos sint neque facilis eaque modi?
                Autem officiis dicta ipsam deleniti assumenda inventore a recusandae ad, laborum, cumque, eum nobis quo ex maxime officia qui blanditiis neque odit! Dolorum nulla natus cum reprehenderit omnis minima tenetur!
                Et eos, dolorem hic omnis sunt, molestiae atque illum eius adipisci animi voluptas soluta eaque facere quo! Voluptatem, perferendis asperiores non laudantium eligendi rerum deleniti alias illum labore quis minus.
                Ratione saepe est eum minima nihil! Dolorem nobis fugit aliquam porro ab est eum beatae asperiores debitis harum fuga, quo nisi eius, maiores eligendi esse. Molestiae recusandae provident harum explicabo!
                Ipsa laudantium blanditiis suscipit voluptatum, soluta impedit eum debitis voluptates iste minus a. Atque, blanditiis? Tempora ea porro laborum obcaecati similique labore quas quasi in. Dignissimos sit ratione omnis temporibus?
                Nobis illo natus suscipit corporis, voluptates a rem harum inventore ratione soluta praesentium similique! Fugit ex a repellat dignissimos esse illum soluta quo distinctio neque suscipit omnis qui, cum quaerat.
                Deleniti quidem laboriosam autem totam omnis laborum corrupti nam eveniet quae quibusdam voluptates dolorem ullam voluptate atque sed nesciunt rerum, quam id deserunt nobis consequuntur. Aspernatur dolores natus impedit alias.
                Laborum assumenda vitae tenetur est enim sapiente suscipit voluptates? Quisquam exercitationem repudiandae nisi porro officia, pariatur dolore autem asperiores nemo facere illum impedit error dolor necessitatibus explicabo eaque? Quasi, commodi.
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>
<div class="row mt-5 mb-5">
    <div class="col md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink="/loja">
            Ver a Loja
        </button>
    </div>
</div>