<div class="container">
    <div class="row mt -5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindos ao Supermercado</h1>
        </div>
    </div>
    <div class="row mb mb-5">
        <div class="col-md-12">
            <div class=" text-center">
                
              
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda non similique expedita, doloribus dolorum eveniet blanditiis iste, totam recusandae distinctio temporibus. Veritatis animi tempora quod distinctio eveniet aspernatur pariatur laborum.
                    Atque voluptatum exercitationem optio doloremque libero repudiandae! Harum ducimus perspiciatis, illum quos ipsum provident sapiente facere et at quidem excepturi accusamus tempora sunt vero aliquam voluptates blanditiis nulla. Pariatur, tenetur?
                    Id reprehenderit tenetur exercitationem, dicta nobis ducimus, ipsum voluptate corrupti, fuga facere odit. Rem, cupiditate delectus! Rerum quae quidem neque deserunt ad facere illo placeat tenetur, perferendis fuga ipsam repellat?
                    Culpa delectus eum explicabo facilis accusamus. Nam unde recusandae exercitationem quo odio, voluptate molestiae adipisci tempore nesciunt labore culpa consectetur error delectus dicta, quasi modi dolor assumenda aperiam vero quas!
                    Dolores blanditiis eveniet ad ducimus itaque, ipsam mollitia, similique corrupti incidunt, illum ea dicta laborum vel nisi aliquid deleniti. Laborum in nostrum vel exercitationem ipsa! Aut soluta eum mollitia. Impedit.
                    Amet dignissimos nobis fugiat sapiente? Fuga, dolorem tenetur. Laudantium, ducimus! Autem, ipsum cupiditate iusto inventore voluptatem dicta aliquam incidunt dolor adipisci voluptate optio amet est iure iste reprehenderit voluptas repellendus.
                    Labore rem beatae facere ipsa voluptates molestiae sed. Quam esse illo labore veniam voluptas doloremque ad quia ipsam recusandae ut praesentium incidunt delectus similique alias mollitia sed, quidem debitis architecto?
                    Rerum, necessitatibus laudantium repellendus consequatur totam amet ab, in beatae quidem impedit cupiditate! Dicta, natus voluptas? Dicta ex earum, quae corrupti, est suscipit enim eius quis nemo fuga quasi minima?
                    Voluptatibus ratione harum aliquam voluptas perspiciatis sit officia assumenda aperiam ullam, dignissimos perferendis accusantium, omnis natus alias molestiae reiciendis! Deserunt, cupiditate repellat! Omnis aliquam, voluptatem ab quis fugit tenetur culpa.
                    Cupiditate obcaecati repellendus accusamus repudiandae sit placeat quod omnis suscipit consequatur at, facilis alias facere cum debitis quibusdam autem commodi sapiente similique explicabo? Nesciunt excepturi sit autem id fugit accusamus.
                </p>

               
            </div>
        </div>
    </div>
</div>
<div class="parallax"></div>
<div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/loja'>Ir a Loja</button>
    </div>
</div>