<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p> Atualizar um produto </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="{{ produto.imagem }}" alt="Card image cap">
        </div>

        <div class="col-md-8">
            <div class="mb-5">
                <div class="form-group">
                    <label for="nome">Nome do produto:</label>
                    <input type="text" class="form-control" id="nome" [(ngModel)]="produto.nome"
                        placeholder="Digite o nome do produto...">
                </div>

                <div class="form-group">
                    <label for="preco">Preço do produto:</label>
                    <input type="number" class="form-control" id="preco" [(ngModel)]="produto.preco"
                        placeholder="Digite o preço do produto...">
                </div>
                <div class=" form-group">
                    <label for="imagem">Imagem:</label>
                    <input type="text" class="form-control" id="imagem" [(ngModel)]="produto.imagem"
                        placeholder="Digite a url da imagem do produto...">
                </div>
                <div class=" form-group">
                    <label for="qtdEstoque">quantidade em estoque:</label>
                    <input type="number" class="form-control" id="qtdEstoque" [(ngModel)]="produto.qtdEstoque"
                        placeholder="Digite a quantidade de produto em estoque...">
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-success" (click)="salvar()">Atualizar
                            Produto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>